.Barra{
  display: flex;
  justify-content: center;
  
  
  
}
.Barra-objetos{
    display: none;
    box-shadow: 0px 10px 10px 0px #0f0061;
    border-color: black;
    border-radius: 15px;
    
}
.Barra:hover .Barra-objetos {
  display: block;
    background-color: #ffffff;
    color: rgb(16, 4, 88);
  }

  .Barra-objetos a {
    display: block;
    color: #000000;
    padding: 15px;
    text-decoration:none;
    font-size: x-large;
    border-color: black;
    border-radius: 15px;
  }
  .Barra-objetos a:hover {
    display: inline-block;
    position: relative;
    color: #ffffff;
    background: #0f0061;
    padding: 20px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    text-shadow:3px 3px 3px #000000;
    border-color: black;
    border-radius: 15px;
  }

  body{
    height:  665px;
    background-image: url(https://cdn.pixabay.com/photo/2017/10/31/19/05/web-design-2906159_960_720.jpg);
    background-size: 99rem;
  }
  
  button{
    background-color: white;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    border-color: black;
    border-radius: 15px;
    position:relative;
    font-size: xx-large;
    text-shadow: 3px 3px 3px #0f0061;
   
  
  }
  .Texto{
    display: flex;
    justify-content: center;
    color: #ffffff;
    text-shadow:3px 3px 3px #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;

    
  }
  dialog[open] {
    position: relative;
    display: flex;
    width: 50%;
    max-width: 750px;
    top: 10px;
    border: 3px solid #0f0061;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px #0f0061;;
  }
p{
    color: #000000;
    text-shadow:3px 3px 3px #0f0061;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    padding: 20px;
    border: 2px solid #0f0061;
    border-radius: 15px;
  
}
